includes:
    - phpstan.neon.dist

parameters:
    level: 9
    paths:
        - laravel/Modules/User/app/Filament/Widgets/Auth/LoginWidget.php
    excludePaths:
        - vendor/
        - node_modules/
        - storage/
        - bootstrap/cache/
        - database/
        - public/
        - resources/
        - routes/
        - tests/

    # Ignore specific error for view-string type in LoginWidget
    ignoreErrors:
        - '#PHPDoc type view-string of property [\w\\]+::\$view is not covariant with PHPDoc type string of overridden property [\w\\]+::\$view#'
