includes:
    - vendor/nunomaduro/larastan/extension.neon
    - phpstan-baseline.neon

parameters:
    level: 9
    paths:
        - laravel/Modules/User
    excludePaths:
        - vendor
        - storage
        - bootstrap/cache
        - node_modules
    fileExtensions:
        - php
    
    # Add stub files
    stubFiles:
        - phpstan-stubs/Filament/Widgets/Widget.stub
    
    # Ignore specific error for view-string type in LoginWidget
    ignoreErrors:
        - '#PHPDoc type view-string of property [\\w\\\\]+::\\$view is not covariant with PHPDoc type string of overridden property [\\w\\\\]+::\\$view#'
