# Dependencies
vendor/
node_modules/
package-lock.json
npm-debug.log
yarn-error.log

# Build and compiled files
/build
docs/cache/
cache/

# Cache and temporary files
*.cache
*.lock
*.phar
*.log
*:Zone.Identifier
.phpunit.result.cache
.php-cs-fixer.cache

# Laravel specific
bootstrap/compiled.php
app/storage/
public/storage
public/hot
public_html/storage
public_html/hot
storage/*.key

# Environment and configuration
.env
Homestead.yaml
Homestead.json
/.vagrant

# Git related
.git-rewrite/
.git-blame-ignore-revs

# Backup files
*.old
*.old1
*.backup
*.bak

# PHPStan documentation
docs/phpstan/

