parameters:
    level: 9
    paths:
        - ./Modules/SaluteOra/app/Models
    
    ignoreErrors:
        - '#PHPDoc tag @mixin contains unknown class #'
        - '#Static call to instance method Nwidart#'
        - '#is used zero times and is not analysed#'
        - "#^Unsafe usage of new static#"
        - '#Cannot cast mixed to (string|float|double|int|bool|boolean).#'
        - identifier: missingType.generics
        - identifier: missingType.iterableValue
        - identifier: method.unused
    
    excludePaths:
        - ./*/vendor/*
        - ./*/tests/*
    
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
