includes:
    - ./phpstan-baseline.neon
    - ./vendor/larastan/larastan/extension.neon

parameters:
    level: 9
    paths:
        - ./Modules/Xot/app
        - ./Modules/Geo/app
        - ./Modules/Tenant/app
    
    excludePaths:
        - ./*/vendor/*
        - ./*/tests/*
        - ./*/*.blade.php

    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false