<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         executionOrder="random"
         failOnWarning="true"
         failOnRisky="true"
         failOnEmptyTestSuite="true"
         beStrictAboutOutputDuringTests="true"
         cacheDirectory=".phpunit.cache"
         backupStaticProperties="false">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
            <directory>Modules/*/tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
            <directory>Modules/*/tests/Feature</directory>
        </testsuite>
        <testsuite name="SaluteMo">
            <directory>Modules/SaluteMo/tests</directory>
        </testsuite>
        <testsuite name="SaluteOra">
            <directory>Modules/SaluteOra/tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
            <directory>Modules/*/app</directory>
        </include>
        <exclude>
            <directory>app/Console/Kernel.php</directory>
            <directory>app/Exceptions/Handler.php</directory>
            <directory>app/Http/Middleware</directory>
            <file>app/Providers/RouteServiceProvider.php</file>
        </exclude>
    </source>
    <coverage>
        <report>
            <html outputDirectory="coverage-html" lowUpperBound="50" highLowerBound="80"/>
            <clover outputFile="coverage-clover.xml"/>
            <cobertura outputFile="coverage-cobertura.xml"/>
            <crap4j outputFile="coverage-crap4j.xml" threshold="50"/>
            <php outputFile="coverage-php.php"/>
            <text outputFile="coverage-text.txt" showUncoveredFiles="false" showOnlySummary="true"/>
        </report>
    </coverage>
    <logging>
        <junit outputFile="junit.xml"/>
        <teamcity outputFile="teamcity.txt"/>
        <testdoxHtml outputFile="testdox.html"/>
        <testdoxText outputFile="testdox.txt"/>
    </logging>
    <php>
        <server name="APP_ENV" value="testing"/>
    </php>
</phpunit>