includes:
    - vendor/nunomaduro/larastan/extension.neon

parameters:
    level: 9
    paths:
        - Modules/SaluteOra/app/Models/Doctor.php
        - Modules/SaluteOra/app/Models/Admin.php
    excludePaths:
        - vendor/*
        - node_modules/*
        - storage/*
        - bootstrap/cache/*
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Unsafe usage of new static\(\)#'
        - '#Call to an undefined method#'
        - '#Parameter \#1 \$callback of method Illuminate\\Support\\Collection\<int, string\>\(array\<int, string\>\)#\#map\(\) expects callable\(string, int\): string, Closure\(object\): string given.#'
